#chessboard {
  width: var(--_board-size);
  height: var(--_board-size);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-radius: 0.25rem;
  overflow: hidden;
}
