#chessboard .tile {
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    position: absolute;
    width: 10vmin;
    height: 10vmin;
    z-index: 1;
    font-size: 2vmin;
    display: flex;
    line-height: 1;

    &.file {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  & .chess-piece {
    width: 10vmin;
    height: 10vmin;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.black-tile {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &.tile-selected {
      background-color: var(--primary-color-selection);
    }
  }

  &.white-tile {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    &.tile-selected {
      background-color: var(--secondary-color-selection);
    }
  }

  &.tile-highlight:not(.chess-piece-tile)::before {
    content: '';
    position: absolute;
    width: 4.5vmin;
    height: 4.5vmin;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  &.tile-highlight.chess-piece-tile::before {
    content: '';
    position: absolute;
    width: 11.5vmin;
    height: 11.5vmin;
    border: 1vmin solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }
}
