@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #779556;
  --primary-color-dark: #6c884f;
  --primary-color-selection: #b9ca43;
  --secondary-color: #ebecd0;
  --secondary-color-selection: #f5f682;
  --tertiary-color: #d9dab5;
  --bg-color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto-slab), sans-serif;
}

body {
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg-color);
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2vmin 10vmin;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
  }
  &:active {
    scale: 0.98;
  }
}

.modal {
  position: absolute;
  inset: 0;

  &.hidden {
    display: none;
  }

  & .modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: calc(100vmin - 5%);
    height: 36vmin;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;

    & img {
      width: 12vmin;
      height: 12vmin;
      border-radius: 50%;
      padding: 4vmin;
      box-sizing: content-box;

      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.25);
      }
    }
  }
}
