@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #779556;
  --primary-color-dark: #6c884f;
  --primary-color-darker: #4c7026;
  --primary-color-selection: #b9ca43;
  --secondary-color: #ebecd0;
  --secondary-color-selection: #f5f682;
  --tertiary-color: #d9dab5;
  --bg-color: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-roboto-slab), sans-serif;
}

body {
  overflow: hidden;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  background-color: var(--bg-color);
  color: #fff;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2vmin 10vmin;
  font-size: 3vmin;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0 0 var(--primary-color-darker);

  &:hover {
    cursor: pointer;
    background-color: var(--primary-color-dark);
  }
  &:active {
    scale: 0.98;
  }
}
