.player-tag {
  width: var(--_board-size);
  display: flex;
  gap: 0.5rem;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;

  & img {
    width: var(--_player-icon-size);
    height: var(--_player-icon-size);
    border-radius: 0.25rem;
  }
}
