#chessboard .tile {
  --_tile-size: calc(var(--_board-size) / 8);
  --_piece-size: calc(var(--_tile-size) - 0.75rem);

  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    position: absolute;
    width: var(--_piece-size);
    height: var(--_piece-size);
    font-size: 1rem;
    display: flex;
    line-height: 1;
    user-select: none;

    &.file {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  & .chess-piece {
    width: var(--_piece-size);
    height: var(--_piece-size);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;

    &:hover {
      cursor: grab;
    }

    &:active {
      cursor: grabbing;
    }
  }

  &.black-tile {
    background-color: var(--primary-color);
    color: var(--secondary-color);

    &.tile-highlight {
      background-color: var(--primary-color-selection);
    }
  }

  &.white-tile {
    background-color: var(--secondary-color);
    color: var(--primary-color);

    &.tile-highlight {
      background-color: var(--secondary-color-selection);
    }
  }

  &.tile-hover {
    box-shadow: inset 0 0 0 0.3rem var(--tertiary-color);
  }

  &.tile-mark:not(.chess-piece-tile)::before {
    content: '';
    position: absolute;
    width: calc(var(--_tile-size) / 2.5);
    height: calc(var(--_tile-size) / 2.5);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  &.tile-mark.chess-piece-tile::before {
    content: '';
    position: absolute;
    width: var(--_tile-size);
    height: var(--_tile-size);
    border: 0.4rem solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
  }

  @media screen and (max-width: 480px) {
    --_piece-size: calc(var(--_board-size) / 8 - 0.25rem);

    & span {
      font-size: 0.75rem;
    }

    &.tile-mark.chess-piece-tile::before {
      border: 0.25rem solid rgba(0, 0, 0, 0.2);
    }
  }
}
